<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="center hero-unit">
<p><pre>
    We are undergraduates from the University of California, Berkeley.

    Daniel Hsu   : <a href="https://github.com/dannyighsu" target="_blank">Github</a>
    Samuel Jiang : <a href="https://github.com/samjiangg" target="_blank">Github</a>
    Andrew Koo   : <a href="https://github.com/andrewkoo" target="_blank">Github</a>
    Kevin Xie    : <a href="https://github.com/xiekevin" target="_blank">Github</a>
</pre></p>
</div>
