<div id='container'>
  <div id="hero"><%= link_to image_tag("vibefire.png", alt: "", height: "50", width: '150'), root_path, id: "logoimage" %>
</div>
  <div id='aboutbar'>
      <h4><a href='/about' id='about'>About Us</a></h4>
  </div>
  <div id="background"></div>

  <div id='title-content'>
    <div id='title-content-title'>Let's get started</div>
    <div id='title-content-info'>
      Choose a song, genre, or artist.
    </div>
    <script>

    function song() {
        return "song";
    }
    function genre() {
        return "genre";
    }
    function artist() {
        return "artist";
    }
    var funct;

    </script>
    <div id='title-buttons'>
      <div id="song-button" class='button' onClick="funct = song()">Song</div>
      <div id='genre-button' class='button' onClick="funct = genre()">Genre</div>
      <div id='artist-button' class='button' onClick="funct = artist()">Artist</div>
    </div>

    <div id='form'>
      <form action="">
        <input id='text-box' type='text' name='textfield'>
        <a href="#" id="bottle" onclick="getstr()">
            <img src='assets/Magnifying_glass_icon.svg' alt='submit'
            id='submit-button' height='20px'>
        </a>
        <script>
        function getstr() {
            var str = document.getElementById('text-box').value;
            sessvars.myObj = funct + "; " + str;
            window.location = '/fire';
        }
        </script>
      </form>
    </div>

    <div id='help'>
        <h5><a href='/help'>What's this?</a></h5>
  </div>


</div>
