<div id='container'>
  <div id="hero"><div id='hero-blue'>Vibe</div><div id='hero-red'>Fire</div></div>
  <div id="background"></div>

  <div id='title-content'>
    <div id='title-content-title'>Let's get started</div>
    <div id='title-content-info'>
      Choose a song, genre, or artist.
    </div>
    <div id='title-buttons'>
      <div id="song-button" class='button'>Song</div>
      <div id='genre-button' class='button'>Genre</div>
      <div id='artist-button' class='button'>Artist</div>
    </div>

    <div id='form'>
      <form>
        <input id='text-box' type='text' name='textfield'>
        <input type='image' type='submit' src='assets/Magnifying_glass_icon.svg' id='submit-button' height='20px'>
      </form>
    </div>
  </div>


</div>
