<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
			<%= link_to image_tag("vibefire.png", alt: "", height: "35", width: '150'), root_path, id: "logoimage" %>
            <nav>
                <ul class="nav pull-right">
                    <li><%= link_to "HOME", root_path %></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
